@import "../../../../../Inicialized/variables.scss";

.listaActividades{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.listaActividades h1{
    text-align: center;
}

.listaActividades span{
    text-align: center;
}