@import "../../../../../Inicialized/variables.scss";

.listaActividades {
    width: 95%;
    margin: 1em auto;
    padding-top: 0.5em;
    border-top: $primary solid 1px;
    border-radius: 30px;
}

.tituloMateria{
    text-align: center;
    
}