@import "../../../Inicialized/variables.scss";
@import "../../../Inicialized/breakpoinst.scss";

.ContenidoUsuario{
    @include media("<=phone"){
        width: 100%;
    }
    width: 70%;
    margin: auto;
    padding-top: 2em;
}
