@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Dosis|Patrick+Hand);

body {
  margin: initial;
  font-family: Dosis;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
